* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 60px 4fr;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#dropDownMenu {
  grid-column: 2/3;
}

#outputBox {
  grid-column: 2/3;
  grid-row: 3/4;
}

#generateBtn {
    grid-column: 2/3;
    width: 150px;
}

#outputLabel {
    grid-row: 2/3;
}
